@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Pham Tien Dat<br />
    <abbr title="Phone">Phone:</abbr>
    0903684049
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:phamtiendat.tdtu@gmail.com">phamtiendat.tdtu@gmail.com</a>
</address>